:root {
    --primary-color: #458f98;
    --secondary-color: #995B45;
    --accent-color: #ccebed;
    --background-color: #FFF7F0;
    --text-color: #333333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Styles for Header */

.nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
}

.my-logo {
    background-color: var(--background-color);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 3px;
    cursor: grab;
    z-index: 10;
    position: relative;
    margin-top: 0.5rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;

}

.nav-list a {
    text-decoration: none;
    color: var(--background-color);
    padding: 1.5rem 0.75rem;
}

.nav-list a:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 1.5rem 0.75rem;
    border-radius: 8px;
}
/* End styles for Header */

/* Styles Welcome Section */
#welcome-section {
    margin: 4rem 0 2rem 0;
    padding: 2rem 0;
    text-align: center;
}

.welcome-title {
    font-size: 2rem;
    font-weight: 800;
    padding: 2rem 0;
}

.welcome-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.welcome-image {
    border-radius: 50%;
    min-width: 100px;
    max-width: 300px;
    padding-left: 1rem;
}

.welcome-about-me-text-container {
    padding-right: 1rem;
}

.welcome-about-me-title {
    text-align: left;
    margin: 1.5rem 0;
    font-weight: bold;
    font-size: 1.3rem;
}

.welcome-about-me-description {
    font-style: italic;
    max-width: 280px;
    text-align: left;
}

/* End styles Welcome Section */

/* Styles Projects Section */
#projects h2 {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1rem 0;
}

.projects-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.projects-container a {
    text-decoration: none;
    color: var(--text-color);

}

.project-tile {
    max-width: 600px;
    min-width: 300px;
    background-color: var(--primary-color);
    margin-bottom: 2rem;
    border-radius: 8px;
}

.project-title {
    color: var(--background-color);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0.75rem 0 0 0;
}

.project-description {
    font-size: 0.8rem;
    padding: 1rem 0.75rem;
    color: var(--background-color);
}

/* End styles Projects Section */

/* Styles Contact Section */
#contact {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 2rem 0;
}

.contact-section a {
    color:var(--background-color);
}

.contact-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.contact-links {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 0.75rem;
    font-size: 0.85rem;
}

.contact-links a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}

.contact-links a:hover {
    color: var(--secondary-color);
    background-color: var(--background-color);
}

footer {
    background-color: var(--secondary-color);
    font-size: 0.6rem;
    color: var(--background-color);
    padding: 1rem 0;
}

/* End styles Contact Section */

@media screen and (min-width: 768px) {

/* Styles for Header */
    .nav {
        position: fixed; 
        top: 0; 
        right: 0;
        width: 100%;
    }

    .nav-list {
        justify-content: right;
        gap: 3rem;
        padding: 2rem 3rem 2rem 0;
    }
/* End styles for Header */

/* Styles Welcome Section */
    .welcome-about-me {
        gap: 4rem;
    }

    .welcome-title {
        font-size: 3rem;
        padding: 4rem 0;
    }
/* End styles Welcome Section */

/* Styles Projects Section */
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        align-items: flex-end;
    }

    .project-tile {
        max-width: 500px;
    }
/* End styles Projects Section */

/* Styles Contact Section */
.contact-links {
    gap: 3rem;
    padding-top: 1rem;
}

footer {
    font-size: 0.75rem;

}
/* End styles Contact Section */
}